@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Major Mono Display", monospace;
    src: url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
  }
}

@layer base {
  @font-face {
    font-family: "Vercetti-Regular";
    src: url("./fonts/Vercetti-Regular.ttf") format("truetype");
  }
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.edit-button {
  background-color: #3b82f6; /* Adjust color as needed */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer; /* Indicate clickable element */
  margin: 5px; /* Add some space between buttons */
  size: sm;
}

.admin-list-button:hover {
  background-color: #2860d3; /* Change hover color */
}

.dropdown-toggle {
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 999;
}


