body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.admin-list-button {
  background-color: #3b82f6; /* Adjust color as needed */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer; /* Indicate clickable element */
  margin: 5px; /* Add some space between buttons */
}

.admin-list-button:hover {
  background-color: #2860d3; /* Change hover color */
}
